<ion-content class="register-content">
  <div class="register-container">
    <!-- Logo -->
    <div class="logo-container">
      <h1 class="app-name">TasteBuds</h1>
      <p class="app-tagline">Trust Your Taste Buds</p>
    </div>

    <!-- Register Form -->
    <div class="form-container">
      <!-- Username -->
      <ion-input
        placeholder="Username"
        fill="outline"
        type="text"
        [(ngModel)]="username"
      ></ion-input>

      <!-- Email -->
      <ion-input
        placeholder="Email"
        fill="outline"
        type="email"
        [(ngModel)]="email"
      ></ion-input>

      <!-- Password -->
      <ion-input
        placeholder="Password"
        fill="outline"
        type="password"
        [(ngModel)]="password"
      ></ion-input>

      <!-- Confirm Password-->
      <ion-input
        placeholder="Confirm Password"
        fill="outline"
        type="password"
        [(ngModel)]="confirmPassword"
      ></ion-input>

      <!-- Error Message -->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>

      <!-- Register Button -->
      <ion-button expand="block" (click)="onRegister()" [disabled]="isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">CREATE ACCOUNT</span>
      </ion-button>
    </div>

    <div class="login-link">
      <p>Already have an account? <span routerLink="/login">Log in</span></p>
    </div>
  </div>
</ion-content>
