<ion-content class="login-content">
  <div class="login-container">
    <!-- Logo -->
    <div class="logo-container">
      <h1 class="app-name">TasteBuds</h1>
      <p class="app-tagline">Trust Your Taste Buds</p>
    </div>

    <!-- Success message (shown after registration) -->
    <div *ngIf="successMessage" class="success-message">
      <p>{{ successMessage }}</p>
    </div>

    <!-- Login Form -->
    <div class="form-container">
      <!-- Username Or Email -->
      <ion-input
        label="Username or Email"
        fill="outline"
        labelPlacement="floating"
        type="text"
        [(ngModel)]="username"
      >
        <!--ngModel makes a two-way connecion betw input field (.html) and variable in .ts Ex. user types "chen" in username input field and ngModel automatically updates username="chen"-->
        <!-- [] = one way binding (ts -> html), () = event binding (html -> ts), [()] = two-way binding-->
      </ion-input>

      <!-- Password -->
      <ion-input
        label="Password"
        fill="outline"
        labelPlacement="floating"
        type="password"
        [(ngModel)]="password"
      ></ion-input>

      <!-- Error Message -->
      <!-- Hidden by default but appears when somthing goes wrong-->
      <div *ngIf="errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
        <!-- {{ }} = interpolation, displays value of a TS variable -->
      </div>

      <!-- Resend verification email button -->
      <div *ngIf="showResendButton" class="resend-container">
        <ion-button
          expand="block"
          fill="outline"
          (click)="onResendVerification()"
        >
          Resend Verification Email
        </ion-button>
      </div>

      <!-- Login Button -->
      <ion-button expand="block" (click)="onLogin()" [disabled]="isLoading">
        <!-- (clcik="onLogin()" calls onLogin in .ts ) & [disabled]="isLoading" greys out + locks btn while waiting for Django -->
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Log in</span>
      </ion-button>

      <!-- Forgot Password -->
      <p class="forgot-pw" routerLink="/forgot-pw">Forgot Password?</p>
    </div>

    <!-- Register -->
    <div class="register-link">
      <p>
        Don't have an account? <span routerLink="/register">Register now!</span>
      </p>
    </div>
  </div>
</ion-content>
